    <form action="/admin/mpServices" method="POST">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Anasayfa - Özellikler Bölümü Ayarları
            <label class="switch" title="Bu slaytın aktif olup olmadığını seçin">
            <% if (services.isActive) { %>
                <input type="checkbox" id="isActive" name="isActive" checked>
            <% } else { %>
                <input type="checkbox" id="isActive" name="isActive">
            <% } %>
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">

    <% if (mesaj == "no") { %>
    <% } else if (mesaj == "ok") { %>
    <div class="alert alert-success">
    <strong>Bilgiler kayıt edildi.</strong> 
    </div>
    <% } else { %>
    <div class="alert alert-danger">
    <strong><%- mesaj %></strong> 
    </div>
    <% } %>

</div>

<div class="row">


        <div class="container col-md-12">
            <!-- Üst Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Üst Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="headerTitle">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="headerTitle" placeholder="Bölüm Başlığı" name="headerTitle" value="<%= services.header.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="headerDesc">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="headerDesc" placeholder="Bölüm Açıklaması" name="headerDesc"><%= services.header.description %></textarea>
                    </div>
                </div>
            </div>

            <!-- İlk Sıra Sol Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">İlk Sıra Sol Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item1.icon %>" style="font-size: 50px;"></i>
                        </div>
                            <label for="icon1">Simge Değiştir:</label>
                            <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                            <input type="text" class="form-control" id="icon1" name="icon1" value="<%= services.item1.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle1">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle1" placeholder="Bölüm Başlığı" name="itemTitle1" value="<%= services.item1.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc1">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc1" placeholder="Bölüm Açıklaması" name="itemDesc1"><%= services.item1.description %></textarea>
                    </div>
                </div>
            </div>

            <!-- İlk Sıra Orta Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">İlk Sıra Orta Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item2.icon %>" style="font-size: 50px;"></i>
                        </div>
                        <label for="icon2">Simge Değiştir:</label>
                        <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                        <input type="text" class="form-control" id="icon2" name="icon2" value="<%= services.item2.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle2">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle2" placeholder="Bölüm Başlığı" name="itemTitle2" value="<%= services.item2.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc2">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc2" placeholder="Bölüm Açıklaması" name="itemDesc2"><%= services.item2.description %></textarea>
                    </div>
                </div>
            </div>

            <!--İlk Sıra Sağ Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Sağ Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item3.icon %>" style="font-size: 50px;"></i>
                        </div>
                        <label for="icon3">Simge Değiştir:</label>
                        <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                        <input type="text" class="form-control" id="icon3" name="icon3" value="<%= services.item3.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle3">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle3" placeholder="Bölüm Başlığı" name="itemTitle3" value="<%= services.item3.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc3">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc3" placeholder="Bölüm Açıklaması" name="itemDesc3"><%= services.item3.description %></textarea>
                    </div>
                </div>
            </div>

            <!-- İkinci Sıra Sol Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">İkinci Sıra Sol Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item4.icon %>" style="font-size: 50px;"></i>
                        </div>
                            <label for="icon4">Simge Değiştir:</label>
                            <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                            <input type="text" class="form-control" id="icon4" name="icon4" value="<%= services.item4.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle1">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle4" placeholder="Bölüm Başlığı" name="itemTitle4" value="<%= services.item4.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc4">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc4" placeholder="Bölüm Açıklaması" name="itemDesc4"><%= services.item4.description %></textarea>
                    </div>
                </div>
            </div>

            <!-- İkinci Sıra Orta Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">İlk Sıra Orta Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item5.icon %>" style="font-size: 50px;"></i>
                        </div>
                        <label for="icon5">Simge Değiştir:</label>
                        <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                        <input type="text" class="form-control" id="icon5" name="icon5" value="<%= services.item5.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle5">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle5" placeholder="Bölüm Başlığı" name="itemTitle5" value="<%= services.item5.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc5">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc5" placeholder="Bölüm Açıklaması" name="itemDesc5"><%= services.item5.description %></textarea>
                    </div>
                </div>
            </div>

            <!--İkinci Sıra Sağ Bölüm -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Sağ Bölüm</h3>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="form-group col-xs-12 text-center">
                            <i class="<%= services.item6.icon %>" style="font-size: 50px;"></i>
                        </div>
                        <label for="icon6">Simge Değiştir:</label>
                        <i class="fa fa-info-circle fa-fw" title="Değiştirmek istediğiniz simgenin ion veya fa class değerini girmelisiniz."></i>
                        <input type="text" class="form-control" id="icon6" name="icon6" value="<%= services.item6.icon %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemTitle6">Bölüm Başlığı:</label>
                    <input type="text" class="form-control" id="itemTitle6" placeholder="Bölüm Başlığı" name="itemTitle6" value="<%= services.item6.title %>">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                    <label for="itemDesc6">Bölüm Açıklaması:</label>
                    <textarea class="form-control" id="itemDesc6" placeholder="Bölüm Açıklaması" name="itemDesc6"><%= services.item6.description %></textarea>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row">
                <input type="submit" class="btn btn-info col-sm-6 col-xs-12" value="Kaydet">
            </div>
            <br><br>
        </div>


</div>
<!-- /.row -->
    </form>