<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Akademik Kurul Raporu</h1>
    </div>
    <!-- /.col-lg-12 -->

</div>
<!-- /.row -->


<div class="row">
    <% if (mesaj == "no") { %>
    <% } else { %>
    <div class="alert alert-danger">
        <%- mesaj %>
    </div>
    <% } %>
</div>


<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <strong>Dönem:</strong> <%= akdRapor.donem %>
                </div>
                <div class="col-xs-12 col-md-4">
                    <strong>Rapor No:</strong> <%= akdRapor.raporNo %>
                </div>
                <div class="col-xs-12 col-md-4">
                    <strong>Eklenme Tarihi:</strong> <%= akdRapor.raporTarih.getDate() %>.<%= akdRapor.raporTarih.getMonth()+1 %>.<%= akdRapor.raporTarih.getFullYear() %>
                </div>
                <div class="col-xs-12 col-md-4">
                    <strong>Zümre Başkanı:</strong> <%= akdRapor.zumreBaskani %>
                </div>
                <div class="col-xs-12 col-md-4">
                    <strong>Akademik Danışman:</strong> <%= akdRapor.akademikDanisman %>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <%- akdRapor.raporIcerik %>
        </div>
        <div class="panel-footer noprint">
            <div class="row">
                <div class="col-xs-6 col-md-9">
                    &nbsp;
                </div>
                <div class="col-xs-6 col-md-3">
                    <% if(butonlar) { %>
                    <form action="../akademikRaporSil" method="POST" style="margin:0px;">
                        <input type="text" class="hidden" id="akdRaporId" name="akdRaporId" value="<%= akdRapor.id %>">
                        <button type="submit" class="btn btn-danger">Sil</button>
                        <a href="/akademikKurul/<%=akdRapor.id%>" class="btn btn-info">Düzenle</a>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


<br><br>

</div>
<!-- /.row -->