<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ders Listesi</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">

  <% if(mesaj=="ok" ) { %>
  <div class="alert alert-success">
    <strong>Ders silindi.</strong>
  </div>
  <% } %>
  <% if(mesaj=="err" ) { %>
  <div class="alert alert-danger">
    <strong>Hata!</strong> Ders silinemedi.
  </div>
  <% } %>




    <form action="../dersListesi" method="POST">

        <label for="sinif">Sınıfı:</label>
        <div class=row>
            <div class="form-group col-sm-6">
                <select class="form-control" id="sinif" name="sinif" required="true">
                <option value="">Sınıf Seçiniz</option>
                <% for (var i=0; i < sinif.length; i++) { %>
                    <% if (sinif[i].id == secilen) { %>
                        <option value="<%= sinif[i].id %>" selected><%= sinif[i].sinifi %></option>
                    <% } else { %>
                        <option value="<%= sinif[i].id %>" ><%= sinif[i].sinifi %></option>
                    <% } %>
                <% } %>
            </select>
            </div>

            <div class="form-group col-sm-3">
                <input type="submit" class="btn btn-info" value="Listele">
            </div>
        </div>
  </form>

</div>

<% if (secilen == 0) { %>
    <div class="row hidden">
<% } else { %>
    <div class="row">
<% } %>

    <% for (var i=0; i < sinif.length; i++) { %>
        <% if (secilen == sinif[i].id ) { %>
            <h3><%= sinif[i].sinifi %> - Ders Listesi</h3>
        <% } %>
    <% } %>
    <table width="100%" id="dataTable" class="table table-striped table-bordered table-hover">

        <thead>
            <tr>
                <th>Ders Adı</th>
                <th>Sınıfı</th>
                <th style="text-align:center;">İşlemler</th>
            </tr>
        </thead>

        <tbody>
        
            <% for (var i=0; i<dersler.length; i++) { %>
                <tr>
                    <td><%= dersler[i].dersAdi %></td>
                    <td><%= dersler[i].sinifi %></td>
                    <td style="text-align:center;">
                        <form action="../dersSil" method="POST" style="margin:0px; padding:0px;">
                            <input type="text" class="hidden" id="dersId" name="dersId" value="<%= dersler[i].id %>">
                            <input type="text" class="hidden" id="sinifId" name="sinifId" value="<%= secilen %>">
                            <button class="btn btn-danger" type="submit">Sil</button>
                            <a href="/dersDuzenle/<%=dersler[i].id%>" class="btn btn-info">Düzenle</a>
                        </form>
                    </td>
                </tr>
            <% } %>
        
        </tbody>

    </table>

</div>
<!-- /.row -->