<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Konu Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">

  <% if(mesaj=="ok" ) { %>
  <div class="alert alert-success" id="okMesaj" name="okMesaj">
    <strong>Konu eklendi.</strong>
  </div>
  <% } %>
  <% if(mesaj=="err" ) { %>
  <div class="alert alert-danger" id="errMesaj" name="errMesaj">
    <strong>Hata! </strong>Konu eklenemedi!
  </div>
  <% } %>
  

<form action="../konuEkle" method="POST">

    <div class=row>
        <div class="form-group col-sm-6">
        <label for="konuAdi">Konu Adı:</label>
        <input type="text" class="form-control" id="konuAdi" placeholder="Konu Adı" name="konuAdi" required>
        </div>
    </div>

    <div class=row>
        <div class="form-group col-sm-6">
        <label for="konuNo">Konu No:</label>
        <input type="number" class="form-control" id="konuNo" placeholder="Konu No" name="konuNo"  min="1" max="99" required>
        </div>
    </div>

    <div class=row>
        <div class="form-group col-sm-6">
        <label for="sinif">Sınıf:</label>
        <select class="form-control" id="sinif" name="sinif" onChange="dersDoldur()" required>
            <option value="" selected>Seçiniz</option>
            <% for (var i=0; i < sinif.length; i++) { %>
                <option value="<%= sinif[i].id %>" ><%= sinif[i].sinifi %></option>
            <% } %>
        </select>
        </div>
    </div>
    
    <div class=row>
        <div class="form-group col-sm-6">
        <label for="ders">Ders:</label>
        <select class="form-control" id="ders" name="ders" onChange="uniteDoldur()" required>
            <option value="" selected>Önce Sınıf Seçiniz</option>
        </select>
        </div>
    </div>

    <div class=row>
        <div class="form-group col-sm-6">
        <label for="unite">Ünite:</label>
        <select class="form-control" id="unite" name="unite" required>
            <option value="" selected>Önce Ders Seçiniz</option>
            
        </select>
        </div>
    </div>

    
    <br><br>
    <div class=row>
        <div class="form-group col-sm-6">
        <input type="submit" class="btn btn-info col-sm-4" value="Kaydet">
        </div>
    </div>
  </form>

</div>
<!-- /.row -->

<script>
    var sinifSelect = document.getElementById("sinif");
    var dersSelect = document.getElementById("ders");
    var uniteSelect = document.getElementById("unite");

    function dersDoldur(){
        var secilenSinif = sinifSelect.options[sinifSelect.selectedIndex].value;

        dersSelect.options.length = 0;
        dersSelect.options[dersSelect.options.length] = new Option('Seçiniz', '');
        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Önce Ders Seçiniz', '');
        <% for (var i=0; i < ders.length; i++) { %>
            if (secilenSinif == <%= ders[i].sinif_id %>) { 
                dersSelect.options[dersSelect.options.length] = new Option('<%= ders[i].dersAdi %>', '<%= ders[i].id %>');
            }
        <% } %>
    }
    function uniteDoldur(){ 
        var secilenDers = dersSelect.options[dersSelect.selectedIndex].value;

        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Seçiniz', '');
        <% for (var i=0; i < unite.length; i++) { %>
            if (secilenDers == <%= unite[i].ders_id %>) { 
                uniteSelect.options[uniteSelect.options.length] = new Option('<%= unite[i].uniteAdi %>', '<%= unite[i].id %>');
            }
        <% } %>
    }
</script>