<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Soru Bankası</h1>
    </div>
    <!-- /.col-lg-12 -->

</div>
<!-- /.row -->


<div class="row">
    <% if (mesaj == "no") { %>
    <% } else { %>
    <div class="alert alert-danger">
        <%- mesaj %>
    </div>
    <% } %>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <strong>Kazanım:</strong> <%= sorular.uniteNo %>.<%= sorular.konuNo %>.<%= sorular.kazanimNo %> <%= sorular.kazanimAdi %>
            </div>
            <div class="col-xs-12 col-md-4">
                <strong>Sınıf:</strong> <%= sorular.sinifi %>
            </div>
            <div class="col-xs-12 col-md-4">
                <strong>Ders:</strong> <%= sorular.dersAdi %>
            </div>
            <div class="col-xs-12 col-md-4">
                <strong>Zorluk:</strong> 
                <% if (sorular.zorluk == 1) { %>
                Kolay
                <% } else if (sorular.zorluk == 2) { %>
                Orta
                <% } else if (sorular.zorluk == 3) { %>
                Zor
                <% } %>
            </div>
            <div class="col-xs-12 col-md-4">
                <strong>Eklenme Tarihi:</strong> <%= sorular.tarih.getDate() %>.<%= sorular.tarih.getMonth()+1 %>.<%= sorular.tarih.getFullYear() %>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <%- sorular.soru %>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-6 col-md-9">
                <% if (sorular.soruTipi == 1) { %>
                Cevap: <%= sorular.testCevap %>
                <% } else { %>
                Cevap: <%= sorular.yaziliCevap %>
                <% } %>
            </div>
            <div class="col-xs-6 col-md-3 noprint">
                <% if(butonlar) { %>
                <form action="../soruSil" method="POST" style="margin:0px; padding:0px;">
                    <input type="text" class="hidden" id="soruId" name="soruId" value="<%= sorular.id %>">
                    <button class="btn btn-danger" type="submit">Sil</button>
                    <a href="/soruDuzenle/<%=sorular.id%>" class="btn btn-info">Düzenle</a>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>


<br><br>