<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Soru Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
  <% if(mesaj=="ok" ) { %>
  <div class="alert alert-success" id="okMesaj" name="okMesaj">
    <strong>Soru eklendi.</strong>
  </div>
  <% } %>
  <% if(mesaj=="err" ) { %>
  <div class="alert alert-danger" id="errMesaj" name="errMesaj">
    <strong>Hata!</strong> Soru eklenemedi!
  </div>
  <% } %>
</div>
<!-- /.row -->
  

<div class="row">
    <form action="../soruEkle" method="POST">

        <input type="text" class="hidden" id="kullaniciId" name="kullaniciId" value="<%= session.kullaniciId %>">

        <div class="row">
            <div class="form-group col-sm-12">
            <label for="soru">Soru:</label>
            <textarea class="form-control" rows="5" id="soru" name="soru" required="true"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label>Soru Tipi: </label><br>
                <label class="radio-inline">
                    <input type="radio" name="soruTipi" id="soruTipi" value="1" required onclick="cevapSec()" checked>Çoktan Seçmeli
                </label>
                <label class="radio-inline">
                    <input type="radio" name="soruTipi" id="soruTipi" value="2" onclick="cevap2Sec()">Açık Uçlu
                </label>
                <label class="radio-inline">
                    <input type="radio" name="soruTipi" id="soruTipi" value="3" onclick="cevap2Sec()">Boşluk Doldurma
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-12" id="cvp1Div" style="display:block">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Cevap Tipi: </label><br>
                        <label class="radio-inline" title="Seçeneklerden yalnızca biri doğru ise seçiniz.">
                            <input type="radio" name="cevapTipi" id="cevapTipiTek" value="1" required onclick="cvpTipiTek()" title="Seçeneklerden yalnızca biri doğru ise seçiniz." checked>Tek Doğru Cevap
                        </label>
                        <label class="radio-inline" title="Birden fazla doğru seçenek varsa seçiniz.">
                            <input type="radio" name="cevapTipi" id="cevapTipiCok" value="2" onclick="cvpTipiCok()" title="Birden fazla doğru seçenek varsa seçiniz.">Çoklu Doğru Cevap
                        </label>
                    </div>
                </div>
                <!-- label for="testCevap">Doğru cevap:</label>
                <select class="form-control" id="testCevap" name="testCevap" required>
                    <option value="" selected>Seçiniz</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select -->
                <div class="col-sm-12">
                <hr>
                </div>
                    <div class="col-sm-1">
                        <div style="margin: 45%;" id="rdDivA">
                            A <input type="radio" id="testTekCevap" name="testTekCevap" value="A" required>
                        </div>
                        <div style="margin: 45%; display:none;" id="cbDivA">
                            A <input type="checkbox" id="testCevapA" name="testCevap" value="A">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="1" id="testCevapTextA" name="testCevapTextA" required></textarea>
                    </div>
                <div class="col-sm-12">
                <hr>
                </div>

                    <div class="col-sm-1">
                        <div style="margin: 45%;" id="rdDivB">
                            B <input type="radio" id="testTekCevap"  name="testTekCevap" value="B">
                        </div>
                        <div style="margin: 45%; display:none;" id="cbDivB">
                            B <input type="checkbox" id="testCevapB"  name="testCevap" value="B">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="1" id="testCevapTextB" name="testCevapTextB" required></textarea>
                    </div>
                <div class="col-sm-12">
                <hr>
                </div>

                <div class="col-sm-1">
                    <div style="margin: 45%;" id="rdDivC">
                        C <input type="radio" id="testTekCevap"  name="testTekCevap" value="C">
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivC">
                        C <input type="checkbox" id="testCevapC"  name="testCevap" value="C">
                    </div>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextC" name="testCevapTextC" required></textarea>
                </div>
                <div class="col-sm-12">
                <hr>
                </div>
                
                <div class="col-sm-1">
                    <div style="margin: 45%;" id="rdDivD">
                        D <input type="radio" id="testTekCevap"  name="testTekCevap" value="D">
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivD">
                        D <input type="checkbox" id="testCevapD"  name="testCevap" value="D">
                    </div>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextD" name="testCevapTextD" required></textarea>
                </div>
                <div class="col-sm-12">
                <hr>
                </div>
                
                <div class="col-sm-1">
                    <div style="margin: 45%;" id="rdDivE">
                        E <input type="radio" id="testTekCevap"  name="testTekCevap" value="E">
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivE">
                        E <input type="checkbox" id="testCevapE"  name="testCevap" value="E">
                    </div>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextE" name="testCevapTextE" required></textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-12" id="cvp2Div" style="display:none">
            <label for="yaziliCevap">Doğru cevap:</label>
            <textarea class="form-control" rows="3" id="yaziliCevap" name="yaziliCevap" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            <label for="zorluk">Zorluk:</label>
            <select class="form-control" id="zorluk" name="zorluk" required="true">
                <option value="" selected>Seçiniz</option>
                <option value="1">Kolay</option>
                <option value="2">Orta</option>
                <option value="3">Zor</option>
            </select>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="form-group col-sm-6">
            <label for="seviye">Seviye:</label>
            <select class="form-control" id="seviye" name="seviye" required="true" onChange="sinifDoldur()">
                <option value="" selected>Seçiniz</option>
                <% for (var ii=0; ii < seviye.length; ii++) { %>
                    <option value="<%= seviye[ii].id %>" ><%= seviye[ii].ogrenim_seviyesi %></option>
                <% } %>
            </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
            <label for="sinif">Sınıf:</label>
            <select class="form-control" id="sinif" name="sinif" required="true" onChange="dersDoldur()">
                <option value="" selected>Önce Seviye Seçiniz</option>
            </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
            <label for="ders">Ders:</label>
            <select class="form-control" id="ders" name="ders" required="true" onChange="uniteDoldur()">
                <option value="" selected>Önce Sınıf Seçiniz</option>
            </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
            <label for="unite">Ünite:</label>
            <select class="form-control" id="unite" name="unite" required="true" onChange="konuDoldur()">
                <option value="" selected>Önce Ders Seçiniz</option>
            </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
            <label for="konu">Konu:</label>
            <select class="form-control" id="konu" name="konu" required="true" onChange="kazanimDoldur()">
                <option value="" selected>Önce Ünite Seçiniz</option>
            </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
            <label for="kazanim">Kazanım:</label>
            <select class="form-control" id="kazanim" name="kazanim" required="true">
                <option value="" selected>Önce Konu Seçiniz</option>
            </select>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div class="form-group col-sm-6">
            <input type="button" onClick="cbKontrol()" class="btn btn-info col-sm-4" value="Kaydet">
            <input type="submit" id="submitButton" class="btn btn-info col-sm-4 hidden" value="Kaydet">
            </div>
        </div>

    </form>

</div>
<!-- /.row -->


    <script>
        var seviyeSelect = document.getElementById("seviye");
        var sinifSelect = document.getElementById("sinif");
        var dersSelect = document.getElementById("ders");
        var uniteSelect = document.getElementById("unite");
        var konuSelect = document.getElementById("konu");
        var kazanimSelect = document.getElementById("kazanim");

        var okMesaj = document.getElementById("okMesaj");
        var errMesaj = document.getElementById("errMesaj");

    function sinifDoldur(){
        // okMesaj.style.visibility='hidden';
        // errMesaj.style.visibility='hidden';

        var secilenSeviye = seviyeSelect.options[seviyeSelect.selectedIndex].value;
        var secilenSinif = sinifSelect.options[sinifSelect.selectedIndex].value;
        var secilenDers = dersSelect.options[dersSelect.selectedIndex].value;
        var secilenUnite = uniteSelect.options[uniteSelect.selectedIndex].value;
        var secilenKonu = konuSelect.options[konuSelect.selectedIndex].value;
        // var kazanimSelect = document.getElementById("kazanim");
        sinifSelect.options.length = 0;
        sinifSelect.options[sinifSelect.options.length] = new Option('Seçiniz', '');
        dersSelect.options.length = 0;
        dersSelect.options[dersSelect.options.length] = new Option('Önce Sınıf Seçiniz', '');
        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Önce Ders Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < sinif.length; i++) { %>
            if (secilenSeviye == <%= sinif[i].seviye_id %>) { 
                sinifSelect.options[sinifSelect.options.length] = new Option('<%= sinif[i].sinifi %>', '<%= sinif[i].id %>');
            }
        <% } %>
    }
    function dersDoldur(){
        var secilenSinif = sinifSelect.options[sinifSelect.selectedIndex].value;

        dersSelect.options.length = 0;
        dersSelect.options[dersSelect.options.length] = new Option('Seçiniz', '');
        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Önce Ders Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < ders.length; i++) { %>
            if (secilenSinif == <%= ders[i].sinif_id %>) { 
                dersSelect.options[dersSelect.options.length] = new Option('<%= ders[i].dersAdi %>', '<%= ders[i].id %>');
            }
        <% } %>
    }
    function uniteDoldur(){ 
        var secilenDers = dersSelect.options[dersSelect.selectedIndex].value;

        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < unite.length; i++) { %>
            if (secilenDers == <%= unite[i].ders_id %>) { 
                uniteSelect.options[uniteSelect.options.length] = new Option('<%= unite[i].uniteAdi %>', '<%= unite[i].id %>');
            }
        <% } %>
    }
    function konuDoldur(){
        var secilenUnite = uniteSelect.options[uniteSelect.selectedIndex].value;

        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < konu.length; i++) { %>
            if (secilenUnite == <%= konu[i].unite_id %>) { 
                konuSelect.options[konuSelect.options.length] = new Option('<%= konu[i].konuAdi %>', '<%= konu[i].id %>');
            }
        <% } %>
    }
    function kazanimDoldur(){
        var secilenKonu = konuSelect.options[konuSelect.selectedIndex].value;

        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Seçiniz', '');
        <% for (var i=0; i < kazanim.length; i++) { %>
            if (secilenKonu == <%= kazanim[i].konu_id %>) { 
                kazanimSelect.options[kazanimSelect.options.length] = new Option('<%= kazanim[i].kazanimAdi %>', '<%= kazanim[i].id %>');
            }
        <% } %>
    }

    /*
    * cevap seçenekleri
    */
    function cevapSec() { //soruTipi çoktan seçmeli
        document.getElementById('cvp1Div').style.display = 'block';
        document.getElementById('cvp2Div').style.display = 'none';
        // document.getElementById('bd').style.display = 'none';
        // document.getElementById('testCevap').setAttribute("required","");
        document.getElementById('testTekCevap').setAttribute("required","");
        document.getElementById('testCevap').removeAttribute("required");
        document.getElementById('yaziliCevap').removeAttribute("required");
        // document.getElementById('bd').removeAttribute("required");
        
    }
    function cevap2Sec() { //soruTipi açık uçlu veya boşluk doldurma
        document.getElementById('cvp1Div').style.display = 'none';
        document.getElementById('cvp2Div').style.display = 'block';
        // document.getElementById('bd').style.display = 'none';
        document.getElementById('testTekCevap').removeAttribute("required");
        document.getElementById('testCevap').setAttribute("required",""); //cbKontrol
        document.getElementById('yaziliCevap').setAttribute("required","");
        // document.getElementById('bd').removeAttribute("required");
    }

    function cvpTipiTek() {
        document.getElementById('rdDivA').style.display = 'block';
        document.getElementById('rdDivB').style.display = 'block';
        document.getElementById('rdDivC').style.display = 'block';
        document.getElementById('rdDivD').style.display = 'block';
        document.getElementById('rdDivE').style.display = 'block';
        document.getElementById('cbDivA').style.display = 'none';
        document.getElementById('cbDivB').style.display = 'none';
        document.getElementById('cbDivC').style.display = 'none';
        document.getElementById('cbDivD').style.display = 'none';
        document.getElementById('cbDivE').style.display = 'none';
        document.getElementById('testTekCevap').setAttribute("required","");
        // document.getElementById('testCevapA').removeAttribute("required");
    }
    function cvpTipiCok() {
        document.getElementById('rdDivA').style.display = 'none';
        document.getElementById('rdDivB').style.display = 'none';
        document.getElementById('rdDivC').style.display = 'none';
        document.getElementById('rdDivD').style.display = 'none';
        document.getElementById('rdDivE').style.display = 'none';
        document.getElementById('cbDivA').style.display = 'block';
        document.getElementById('cbDivB').style.display = 'block';
        document.getElementById('cbDivC').style.display = 'block';
        document.getElementById('cbDivD').style.display = 'block';
        document.getElementById('cbDivE').style.display = 'block';
        // document.getElementById('testCevapA').setAttribute("required","");
        document.getElementById('testTekCevap').removeAttribute("required");
    }

    function cbKontrol(){
        if(document.getElementById('cevapTipiCok').checked){
            var tca = document.getElementById('testCevapA').checked;
            var tcb = document.getElementById('testCevapB').checked;
            var tcc = document.getElementById('testCevapC').checked;
            var tcd = document.getElementById('testCevapD').checked;
            var tce = document.getElementById('testCevapE').checked;
            if (tca == false && tcb == false && tcc == false && tcd == false && tce == false){
            // tca.setAttribute("required",""); //veya alert yazılabilir çünkü sadece A işaretlenmeli gibi uyarı geliyor
                // document.getElementById('testCevapA').required = true;
                // document.getElementByName('testCevap').required = true;
                alert("\nCevaplardan en az birini doğru olarak işaretlemelisiniz.");
            //submit
            } else {
                submitButton.click();
            // tca.removeAttribute("required");
            //submit
            }
        }else{
            submitButton.click();
        }
    }

    </script>
    
    <script>
        CKEDITOR.replace( 'soru', {
            height: 400
        } );
        CKEDITOR.replace( 'yaziliCevap', {} );
        CKEDITOR.replace( 'testCevapTextA', {} );
        CKEDITOR.replace( 'testCevapTextB', {} );
        CKEDITOR.replace( 'testCevapTextC', {} );
        CKEDITOR.replace( 'testCevapTextD', {} );
        CKEDITOR.replace( 'testCevapTextE', {} );
    </script>