<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Soru Düzenle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <% if(mesaj=="ok" ) { %>
    <div class="alert alert-success" id="okMesaj" name="okMesaj">
        <strong>Soru güncellendi.</strong>
    </div>
    <% } else if(mesaj=="err" ) { %>
    <div class="alert alert-danger" id="errMesaj" name="errMesaj">
        <strong>Hata!</strong> Soru güncellenemedi!
    </div>
    <% } %>
</div>
<!-- /.row -->
  
<div class="row">

    <form action="../soruDuzenle" method="POST">

        <input type="text" class="hidden" id="soruId" name="soruId" value="<%= sorular.id %>">

        <div class="row">
            <div class="form-group col-sm-12">
            <label for="soru">Soru:</label>
            <textarea class="form-control" rows="5" id="soru" name="soru" required="true"><%- sorular.soru %></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label>Soru Tipi: </label><br>
                <label class="radio-inline">
                    <% if (sorular.soruTipi == 1) { %>
                    <input type="radio" name="soruTipi" id="soruTipiTest" value="1" required onclick="cevapSec()" checked>Çoktan Seçmeli
                    <% } else { %>
                    <input type="radio" name="soruTipi" id="soruTipiTest" value="1" required onclick="cevapSec()">Çoktan Seçmeli
                    <% } %>
                </label>
                <label class="radio-inline">
                    <% if (sorular.soruTipi == 2) { %>
                    <input type="radio" name="soruTipi" id="soruTipiKlasik" value="2" onclick="cevap2Sec()" checked>Açık Uçlu
                    <% } else { %>
                    <input type="radio" name="soruTipi" id="soruTipiKlasik" value="2" onclick="cevap2Sec()">Açık Uçlu
                    <% } %>
                </label>
                <label class="radio-inline">
                    <% if (sorular.soruTipi == 3) { %>
                    <input type="radio" name="soruTipi" id="soruTipiBoslukDoldurma" value="3" onclick="cevap2Sec()" checked>Boşluk Doldurma
                    <% } else { %>
                    <input type="radio" name="soruTipi" id="soruTipiBoslukDoldurma" value="3" onclick="cevap2Sec()">Boşluk Doldurma
                    <% } %>
                </label>
            </div>
        </div>

        <!-- Test Cevapları -->
        <div class="row">
            <% if (sorular.soruTipi == 1) { %>
            <div class="form-group col-sm-12" id="cvp1Div" style="display:block">
            <% } else { %>
            <div class="form-group col-sm-12" id="cvp1Div" style="display:none">
            <% } %>
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Cevap Tipi: </label><br>
                        <label class="radio-inline" title="Seçeneklerden yalnızca biri doğru ise seçiniz.">
                            <% if (sorular.testCevapTipi == 1) { %>
                                <input type="radio" name="cevapTipi" id="cevapTipiTek" value="1" required onclick="cvpTipiTek()" title="Seçeneklerden yalnızca biri doğru ise seçiniz." checked>Tek Doğru Cevap
                            <% } else { %>
                                <input type="radio" name="cevapTipi" id="cevapTipiTek" value="1" required onclick="cvpTipiTek()" title="Seçeneklerden yalnızca biri doğru ise seçiniz.">Tek Doğru Cevap
                            <% } %>
                        </label>
                        <label class="radio-inline" title="Birden fazla doğru seçenek varsa seçiniz.">
                            <% if (sorular.testCevapTipi == 2) { %>
                                <input type="radio" name="cevapTipi" id="cevapTipiCok" value="2" onclick="cvpTipiCok()" title="Birden fazla doğru seçenek varsa seçiniz." checked>Çoklu Doğru Cevap
                            <% } else { %>
                                <input type="radio" name="cevapTipi" id="cevapTipiCok" value="2" onclick="cvpTipiCok()" title="Birden fazla doğru seçenek varsa seçiniz.">Çoklu Doğru Cevap
                            <% } %>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                <hr>
                </div>
                    <div class="col-sm-1">
                        <% if (sorular.testCevapTipi == 1) { %>
                        <div style="margin: 45%;" id="rdDivA">
                            <% if (sorular.testCevap.indexOf("A") > -1) { %>
                            A <input type="radio" id="testTekCevap" name="testTekCevap" value="A" required checked>
                            <% } else { %>
                            A <input type="radio" id="testTekCevap" name="testTekCevap" value="A" required>
                            <% } %>
                        </div>
                        <div style="margin: 45%; display:none;" id="cbDivA">
                            A <input type="checkbox" id="testCevapA" name="testCevap" value="A">
                        </div>
                        <% } else if (sorular.testCevapTipi == 2) { %>
                        <div style="margin: 45%; display:none;" id="rdDivA">
                            A <input type="radio" id="testTekCevap" name="testTekCevap" value="A">
                        </div>
                        <div style="margin: 45%;" id="cbDivA">
                            <% if (sorular.testCevap.indexOf("A") > -1) { %>
                            A <input type="checkbox" id="testCevapA" name="testCevap" value="A" checked>
                            <% } else { %>
                            A <input type="checkbox" id="testCevapA" name="testCevap" value="A">
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="1" id="testCevapTextA" name="testCevapTextA" required><%- sorular.testSecenekA %></textarea>
                    </div>
                <div class="col-sm-12">
                <hr>
                </div>

                    <div class="col-sm-1">
                        <% if (sorular.testCevapTipi == 1) { %>
                        <div style="margin: 45%;" id="rdDivB">
                            <% if (sorular.testCevap.indexOf("B") > -1) { %>
                            B <input type="radio" id="testTekCevap" name="testTekCevap" value="B" required checked>
                            <% } else { %>
                            B <input type="radio" id="testTekCevap" name="testTekCevap" value="B" required>
                            <% } %>
                        </div>
                        <div style="margin: 45%; display:none;" id="cbDivB">
                            B <input type="checkbox" id="testCevapB" name="testCevap" value="B">
                        </div>
                        <% } else if (sorular.testCevapTipi == 2) { %>
                        <div style="margin: 45%; display:none;" id="rdDivB">
                            B <input type="radio" id="testTekCevap" name="testTekCevap" value="B">
                        </div>
                        <div style="margin: 45%;" id="cbDivB">
                            <% if (sorular.testCevap.indexOf("B") > -1) { %>
                            B <input type="checkbox" id="testCevapB" name="testCevap" value="B" checked>
                            <% } else { %>
                            B <input type="checkbox" id="testCevapB" name="testCevap" value="B">
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="1" id="testCevapTextB" name="testCevapTextB" required><%- sorular.testSecenekB %></textarea>
                    </div>
                <div class="col-sm-12">
                <hr>
                </div>

                <div class="col-sm-1">
                    <% if (sorular.testCevapTipi == 1) { %>
                    <div style="margin: 45%;" id="rdDivC">
                        <% if (sorular.testCevap.indexOf("C") > -1) { %>
                        C <input type="radio" id="testTekCevap" name="testTekCevap" value="C" required checked>
                        <% } else { %>
                        C <input type="radio" id="testTekCevap" name="testTekCevap" value="C" required>
                        <% } %>
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivC">
                        C <input type="checkbox" id="testCevapC" name="testCevap" value="C">
                    </div>
                    <% } else if (sorular.testCevapTipi == 2) { %>
                    <div style="margin: 45%; display:none;" id="rdDivC">
                        C <input type="radio" id="testTekCevap" name="testTekCevap" value="C">
                    </div>
                    <div style="margin: 45%;" id="cbDivC">
                        <% if (sorular.testCevap.indexOf("C") > -1) { %>
                        C <input type="checkbox" id="testCevapC" name="testCevap" value="C" checked>
                        <% } else { %>
                        C <input type="checkbox" id="testCevapC" name="testCevap" value="C">
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextC" name="testCevapTextC" required><%- sorular.testSecenekC %></textarea>
                </div>
                <div class="col-sm-12">
                <hr>
                </div>
                
                <div class="col-sm-1">
                    <% if (sorular.testCevapTipi == 1) { %>
                    <div style="margin: 45%;" id="rdDivD">
                        <% if (sorular.testCevap.indexOf("D") > -1) { %>
                        D <input type="radio" id="testTekCevap" name="testTekCevap" value="D" required checked>
                        <% } else { %>
                        D <input type="radio" id="testTekCevap" name="testTekCevap" value="D" required>
                        <% } %>
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivD">
                        D <input type="checkbox" id="testCevapD" name="testCevap" value="D">
                    </div>
                    <% } else if (sorular.testCevapTipi == 2) { %>
                    <div style="margin: 45%; display:none;" id="rdDivD">
                        D <input type="radio" id="testTekCevap" name="testTekCevap" value="D">
                    </div>
                    <div style="margin: 45%;" id="cbDivD">
                        <% if (sorular.testCevap.indexOf("D") > -1) { %>
                        D <input type="checkbox" id="testCevapD" name="testCevap" value="D" checked>
                        <% } else { %>
                        D <input type="checkbox" id="testCevapD" name="testCevap" value="D">
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextD" name="testCevapTextD" required><%- sorular.testSecenekD %></textarea>
                </div>
                <div class="col-sm-12">
                <hr>
                </div>
                
                <div class="col-sm-1">
                    <% if (sorular.testCevapTipi == 1) { %>
                    <div style="margin: 45%;" id="rdDivE">
                        <% if (sorular.testCevap.indexOf("E") > -1) { %>
                        E <input type="radio" id="testTekCevap" name="testTekCevap" value="E" required checked>
                        <% } else { %>
                        E <input type="radio" id="testTekCevap" name="testTekCevap" value="E" required>
                        <% } %>
                    </div>
                    <div style="margin: 45%; display:none;" id="cbDivE">
                        E <input type="checkbox" id="testCevapE" name="testCevap" value="E">
                    </div>
                    <% } else if (sorular.testCevapTipi == 2) { %>
                    <div style="margin: 45%; display:none;" id="rdDivE">
                        E <input type="radio" id="testTekCevap" name="testTekCevap" value="E">
                    </div>
                    <div style="margin: 45%;" id="cbDivE">
                        <% if (sorular.testCevap.indexOf("E") > -1) { %>
                        E <input type="checkbox" id="testCevapE" name="testCevap" value="E" checked>
                        <% } else { %>
                        E <input type="checkbox" id="testCevapE" name="testCevap" value="E">
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="1" id="testCevapTextE" name="testCevapTextE" required><%- sorular.testSecenekE %></textarea>
                </div>
            </div>
        </div>
        <!-- Test Cevapları Sonu -->

        <div class="row">
            <% if (sorular.soruTipi == 2 || sorular.soruTipi == 3) { %>
            <div class="form-group col-sm-12" id="cvp2Div" style="display:block">
            <label for="yaziliCevap">Doğru cevap:</label>
            <textarea class="form-control" rows="3" id="yaziliCevap" name="yaziliCevap" required><%- sorular.yaziliCevap %></textarea>
            </div>
            <% } else { %>
            <div class="form-group col-sm-12" id="cvp2Div" style="display:none">
            <label for="yaziliCevap">Doğru cevap:</label>
            <textarea class="form-control" rows="3" id="yaziliCevap" name="yaziliCevap"></textarea>
            </div>
            <% } %>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="zorluk">Zorluk:</label>
                <select class="form-control" id="zorluk" name="zorluk" required="true">
                    <option value="">Seçiniz</option>
                    <% if (sorular.zorluk == 1) { %>
                    <option value="1" selected>Kolay</option>
                    <option value="2">Orta</option>
                    <option value="3">Zor</option>
                    <% } else if (sorular.zorluk == 2) { %>
                    <option value="1">Kolay</option>
                    <option value="2" selected>Orta</option>
                    <option value="3">Zor</option>
                    <% } else if (sorular.zorluk == 3) { %>
                    <option value="1">Kolay</option>
                    <option value="2">Orta</option>
                    <option value="3" selected>Zor</option>
                    <% } else { %>
                    <option value="1">Kolay</option>
                    <option value="2">Orta</option>
                    <option value="3">Zor</option>
                    <% } %>
                </select>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="seviye">Seviye:</label>
                <select class="form-control" id="seviye" name="seviye" required="true" onChange="sinifDoldur()">
                    <% for (var i=0; i < seviye.length; i++) { %>
                        <% if (seviye[i].id == sorular.seviye ) { %>
                            <option value="<%= seviye[i].id %>" selected><%= seviye[i].ogrenim_seviyesi %></option>
                        <% } else { %>
                            <option value="<%= seviye[i].id %>" ><%= seviye[i].ogrenim_seviyesi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="sinif">Sınıf:</label>
                <select class="form-control" id="sinif" name="sinif" required="true" onChange="dersDoldur()">
                    <% for (var i=0; i < sinif.length; i++) { %>
                        <% if (sinif[i].id == sorular.sinif ) { %>
                            <option value="<%= sinif[i].id %>" selected><%= sinif[i].sinifi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="ders">Ders:</label>
                <select class="form-control" id="ders" name="ders" required="true" onChange="uniteDoldur()">
                    <% for (var i=0; i < ders.length; i++) { %>
                        <% if (ders[i].id == sorular.ders ) { %>
                            <option value="<%= ders[i].id %>" selected><%= ders[i].dersAdi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="unite">Ünite:</label>
                <select class="form-control" id="unite" name="unite" required="true" onChange="konuDoldur()">
                    <% for (var i=0; i < unite.length; i++) { %>
                        <% if (unite[i].id == sorular.unite ) { %>
                            <option value="<%= unite[i].id %>" selected><%= unite[i].uniteAdi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="konu">Konu:</label>
                <select class="form-control" id="konu" name="konu" required="true" onChange="kazanimDoldur()">
                    <% for (var i=0; i < konu.length; i++) { %>
                        <% if (konu[i].id == sorular.konu ) { %>
                            <option value="<%= konu[i].id %>" selected><%= konu[i].konuAdi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="kazanim">Kazanım:</label>
                <select class="form-control" id="kazanim" name="kazanim" required="true">
                    <% for (var i=0; i < kazanim.length; i++) { %>
                        <% if (kazanim[i].id == sorular.kazanim ) { %>
                            <option value="<%= kazanim[i].id %>" selected><%= kazanim[i].kazanimAdi %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="form-group col-sm-6">
                <input type="button" onClick="cbKontrol()" class="btn btn-info col-sm-4" value="Kaydet">
                <input type="submit" id="submitButton" class="btn btn-info col-sm-4 hidden" value="Kaydet">
            </div>
        </div>
        <script>
            CKEDITOR.replace( 'soru', {
                height: 400
            } );
            CKEDITOR.replace( 'yaziliCevap', {} );
            CKEDITOR.replace( 'testCevapTextA', {} );
            CKEDITOR.replace( 'testCevapTextB', {} );
            CKEDITOR.replace( 'testCevapTextC', {} );
            CKEDITOR.replace( 'testCevapTextD', {} );
            CKEDITOR.replace( 'testCevapTextE', {} );
        </script>
    </form>

</div>
<!-- /.row -->


    <script>
        var seviyeSelect = document.getElementById("seviye");
        var sinifSelect = document.getElementById("sinif");
        var dersSelect = document.getElementById("ders");
        var uniteSelect = document.getElementById("unite");
        var konuSelect = document.getElementById("konu");
        var kazanimSelect = document.getElementById("kazanim");

    function sinifDoldur(){

        var secilenSeviye = seviyeSelect.options[seviyeSelect.selectedIndex].value;
        var secilenSinif = sinifSelect.options[sinifSelect.selectedIndex].value;
        var secilenDers = dersSelect.options[dersSelect.selectedIndex].value;
        var secilenUnite = uniteSelect.options[uniteSelect.selectedIndex].value;
        var secilenKonu = konuSelect.options[konuSelect.selectedIndex].value;

        sinifSelect.options.length = 0;
        sinifSelect.options[sinifSelect.options.length] = new Option('Seçiniz', '');
        dersSelect.options.length = 0;
        dersSelect.options[dersSelect.options.length] = new Option('Önce Sınıf Seçiniz', '');
        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Önce Ders Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < sinif.length; i++) { %>
            if (secilenSeviye == <%= sinif[i].seviye_id %>) { 
                sinifSelect.options[sinifSelect.options.length] = new Option('<%= sinif[i].sinifi %>', '<%= sinif[i].id %>');
            }
        <% } %>
    }
    function dersDoldur(){
        var secilenSinif = sinifSelect.options[sinifSelect.selectedIndex].value;

        dersSelect.options.length = 0;
        dersSelect.options[dersSelect.options.length] = new Option('Seçiniz', '');
        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Önce Ders Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < ders.length; i++) { %>
            if (secilenSinif == <%= ders[i].sinif_id %>) { 
                dersSelect.options[dersSelect.options.length] = new Option('<%= ders[i].dersAdi %>', '<%= ders[i].id %>');
            }
        <% } %>
    }
    function uniteDoldur(){ 
        var secilenDers = dersSelect.options[dersSelect.selectedIndex].value;

        uniteSelect.options.length = 0;
        uniteSelect.options[uniteSelect.options.length] = new Option('Seçiniz', '');
        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Önce Ünite Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < unite.length; i++) { %>
            if (secilenDers == <%= unite[i].ders_id %>) { 
                uniteSelect.options[uniteSelect.options.length] = new Option('<%= unite[i].uniteAdi %>', '<%= unite[i].id %>');
            }
        <% } %>
    }
    function konuDoldur(){
        var secilenUnite = uniteSelect.options[uniteSelect.selectedIndex].value;

        konuSelect.options.length = 0;
        konuSelect.options[konuSelect.options.length] = new Option('Seçiniz', '');
        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Önce Konu Seçiniz', '');
        <% for (var i=0; i < konu.length; i++) { %>
            if (secilenUnite == <%= konu[i].unite_id %>) { 
                konuSelect.options[konuSelect.options.length] = new Option('<%= konu[i].konuAdi %>', '<%= konu[i].id %>');
            }
        <% } %>
    }
    function kazanimDoldur(){
        var secilenKonu = konuSelect.options[konuSelect.selectedIndex].value;

        kazanimSelect.options.length = 0;
        kazanimSelect.options[kazanimSelect.options.length] = new Option('Seçiniz', '');
        <% for (var i=0; i < kazanim.length; i++) { %>
            if (secilenKonu == <%= kazanim[i].konu_id %>) { 
                kazanimSelect.options[kazanimSelect.options.length] = new Option('<%= kazanim[i].kazanimAdi %>', '<%= kazanim[i].id %>');
            }
        <% } %>
    }

    /*
    * cevap seçenekleri
    */
    function cevapSec() {
        document.getElementById('cvp1Div').style.display = 'block';
        document.getElementById('cvp2Div').style.display = 'none';

        document.getElementById('testTekCevap').setAttribute("required","");
        // document.getElementById('testCevap').removeAttribute("required");
        document.getElementById('yaziliCevap').removeAttribute("required");
    }
    function cevap2Sec() {
        document.getElementById('cvp1Div').style.display = 'none';
        document.getElementById('cvp2Div').style.display = 'block';

        document.getElementById('testTekCevap').removeAttribute("required");
        // document.getElementById('testCevap').setAttribute("required",""); //cbKontrol
        document.getElementById('yaziliCevap').setAttribute("required","");
    }

    function cvpTipiTek() {
        document.getElementById('rdDivA').style.display = 'block';
        document.getElementById('rdDivB').style.display = 'block';
        document.getElementById('rdDivC').style.display = 'block';
        document.getElementById('rdDivD').style.display = 'block';
        document.getElementById('rdDivE').style.display = 'block';
        document.getElementById('cbDivA').style.display = 'none';
        document.getElementById('cbDivB').style.display = 'none';
        document.getElementById('cbDivC').style.display = 'none';
        document.getElementById('cbDivD').style.display = 'none';
        document.getElementById('cbDivE').style.display = 'none';
        document.getElementById('testTekCevap').setAttribute("required","");
    }
    function cvpTipiCok() {
        document.getElementById('rdDivA').style.display = 'none';
        document.getElementById('rdDivB').style.display = 'none';
        document.getElementById('rdDivC').style.display = 'none';
        document.getElementById('rdDivD').style.display = 'none';
        document.getElementById('rdDivE').style.display = 'none';
        document.getElementById('cbDivA').style.display = 'block';
        document.getElementById('cbDivB').style.display = 'block';
        document.getElementById('cbDivC').style.display = 'block';
        document.getElementById('cbDivD').style.display = 'block';
        document.getElementById('cbDivE').style.display = 'block';
        document.getElementById('testTekCevap').removeAttribute("required");
    }
//{
    function cbKontrol(){
        if(document.getElementById('cevapTipiCok').checked){
            var tca = document.getElementById('testCevapA').checked;
            var tcb = document.getElementById('testCevapB').checked;
            var tcc = document.getElementById('testCevapC').checked;
            var tcd = document.getElementById('testCevapD').checked;
            var tce = document.getElementById('testCevapE').checked;
            if (tca == false && tcb == false && tcc == false && tcd == false && tce == false){
                alert("\nCevaplardan en az birini doğru olarak işaretlemelisiniz.");
            } else {
                submitButton.click();
            }
        }else{
            submitButton.click();
        }
    }
    </script>